%h1
  WELCOME TO QUIK COURSE!!!
= link_to "Privacy Policy", privacy_policy_path

.fa.fa-flag
.fab.fa-amazon
= link_to root_path do
  .fa.fa-home

= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course
